html {
    background-image: url('../images/background.jpg');
    font-size: 15px;
}
body {
    margin: auto;
    max-width:70%;
    height: 100%;
    background-color: white
}
header { 
    display: flex;
    flex-direction: column;
}
/*navbar style*/
nav {
    width: 100%;
    background-color: rgb(255, 102, 0);
}
/* Display links horizontally*/
.nav-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}
/* Change to green on hover of nav links*/
.nav-li a:hover {
    background-color: white;
    color: orangered;
}
/*Style of the text on nav links*/
.nav-li a {
    font-size: 1em;
    color: white;
    text-decoration: none;
    font-family:"Trebuchet MS";   
}
/*highlight color of active page on nav bar*/
a.active {
    background-color: rgb(199, 65, 65);
}
.header-img-wrapper {
    margin: 0;
    padding: 0;
}
.header-img {
    width: 100%;
    height: auto;
}
/* Content on the home page should be a grid*/
.home-main-content {
    display: flex;
    flex-flow: column;
   
}
/*Style the text for the search box*/
.search-module-text{
    margin: 0;
    padding: 0;
    font-family:"Lucida Sans Unicode";
    color: rgb(199, 65, 65);
    font-size: 3em;
}
/* Position the input fields inside the search box*/
.pet-search-module {
    background-color: wheat;
    margin: 0;
    padding: 1%;
    display: grid;
    justify-content: center;
}
input, .search-module-button {
    text-align: center;
}

/* Adoptable pets pictures*/
.adoptable-pets-wrapper {
    display: flex;
    flex-wrap: wrap;
}